<div class="mt-4" >
    <h4 class="mb-3">Order History</h4>
    <div class="table-responsive">
        <div class="table">
            <div class="tbhead">
                <thead>
                    <tr>
                        <th scope="col" >
                            <div class="p-2 px-3 text-uppercase">OrderId</div>
                        </th>
                        <th scope=col class="boarder-0" >
                            <div class="py-2 text-uppercase">DateOrderd</div>
                        </th>
                        <th scope=col class="boarder-0" >
                            <div class="py-2 text-uppercase">Total</div>
                        </th>
                        <th scope=col class="boarder-0" >
                            <div class="py-2 text-uppercase">Status</div>
                        </th>
                        <th scope=col class="boarder-0" >
                            <div class="py-2 text-uppercase">ViewOrder</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let placedOrder of placedOrders">
                        <td class="align-middle"> <strong>{{placedOrder.id}}</strong></td>
                        <td class="align-middle"> <strong>{{placedOrder.orderDate | date}}</strong></td>
                        <td class="align-middle"> <strong>{{placedOrder.total | currency}}</strong></td>
                        <td class="align-middle"> <strong>{{placedOrder.status}}</strong></td>
                        <button routerLink="/orders/{{placedOrder.id}}" type="button" class="btn btn-primary">View</button>
                    </tr>

                </tbody>
            </div>
        </div>
    </div>
</div>